<html>
<head>
  {% if title %}
  <title>TV Shows | {{title}}</title>
  {% else %}
  <title>TV Shows</title>
  {% endif %}
  <link rel="stylesheet" type="text/css" href="/static/css/shows.css" />
</head>
<body>
  <div class="root">
    <div class="header">
      <div class="pageheading">
        {% block header %}{% endblock %}
          <div class="userinfo">
          {% if current_user.is_authenticated() %}
            Welcome, {{ user.name }}.<br />
            <br />
            <span class="brackets"><a href="{{ url_for('auth.logout') }}">Logout</a></span>
          {% endif %}
          </div>
      </div>
      <div class="userinfo">
      </div>
    </div>
    <div>TV Shows: <a href="/index">Home</a></div>
    <hr />
    <div class="main">
      {% block main %}{% endblock %}
      <div class="content">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="flash">{{ message }} </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>
</body>
</html>