<html>
<head>
    {% if title %}
        <title>Snow Day | {{title}}</title>
    {% else %}
        <title>Snow Day</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="/static/css/shows.css"/>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico"/>
</head>
<body>
    <div class="root">
        <div class="header">
            <div class="pageheading">
                {% block header %}{% endblock %}
                <!-- <div class="userinfo">
                </div> -->
            </div>
            <div class="user-info">
                {% if current_user.is_authenticated() %}
                    <div class="user-avatar">
                        <img src="{{current_user.avatar(40)}}">
                    </div>
                    <span class="brackets">
                        <a href="{{ url_for('main.user') }}">Shows</a>
                    </span>
                    <span class="brackets">
                        <a href="{{ url_for('main.profile') }}">
                            {{ current_user.name }}
                        </a>
                    </span>
                    <span class="brackets">
                        <a href="{{ url_for('auth.logout') }}">Logout</a>
                    </span>
                {% endif %}
            </div>
        </div>
        <!-- <div>TV Shows: <a href="/index">Home</a></div> -->
        <hr />
        <div class="main">
                <div class="search">
                    {% if user %}
                    <form action="{{ url_for('series.result') }}" method="get">
                        {% if search_series %}
                        <input value="{{ search_series }}" class="show" type="text" name="seriesname" id="seriesname" onfocus="javascript:this.value='';this.style.color='#000';" onclick="javascript:this.value='';this.style.color='#000';">
                        {% else %}
                        <input value="Enter all or part of a series name" class="show" type="text" name="seriesname" id="seriesname" onfocus="javascript:this.value='';this.style.color='#000';" onclick="javascript:this.value='';this.style.color='#000';">
                        {% endif %}
                        <input type="submit" value="Search">
                    </form>
                    {% endif %}
                </div>
            {% block main %}{% endblock %}
            <div class="content">
                {% for message in get_flashed_messages() %}
                    <div class="flash">{{ message }}</div>
                {% endfor %}
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
</body>
</html>
