{% extends "base.html" %}
{% block header %}
                <h1>Profile</h1>
{% endblock %}
{% block content %}
                <div class="home">
                    <form action="" method="post" name="edit">
                        {{form.hidden_tag()}}
                        <h2>Details</h2>
                        <br>
                        <img class="profile-avatar"
                            src="{{user.avatar(128)}}"
                            alt="Avatar">
                        Joined: {{ user.created_at }}<br>
                        Last seen: {{ user.last_seen }}<br>
                        Email: {{ user.email }}<br>
                        Name: {{ form.name(size = 24) }}<br>
                    </form>
                </div>
{% endblock %}
