{% extends "base.html" %}
{% block header %}
                <h1>Profile</h1>
{% endblock %}
{% block content %}
                <div class="home">
                    <h2>Details</h2>
                    <br>
                    <img class="profile-avatar" src="{{user.avatar(128)}}" alt="Avatar">
                    Joined {{ moment(user.created_at).fromNow(refresh=True) }}<br>
                    {{ user.email }}<br>
                    Name: {{ user.name }} <a href="{{ url_for('main.edit_profile') }}">edit</a>
                </div>
{% endblock %}
