{% extends "base.html" %}
{% block header %}
                <h1>Profile</h1>
{% endblock %}
{% block content %}
                <div class="home">
                    <h2>Details</h2>
                    <br>
                    <img class="profile-avatar" src="{{user.avatar(160)}}" alt="Avatar">
                    <dt>Joined:</dt> <dd>{{ user.created_at }}</dd>
                    <dt>Last seen:</dt> <dd>{{ user.last_seen }}</dd>
                    <dt>Email:</dt> <dd>{{ user.email }}</dd>
                    <dt>Name:</dt> <dd>{{ user.name }}</dd><br>
                    <a href="{{ url_for('main.edit_profile') }}">Edit</a>
                </div>
{% endblock %}
